body {
  background-color: #262626;
}

* {
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
}

a:link {
  color: #9099d6;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.2s;
}

a:visited {
  color: #9099d6;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.2s;
}

a:hover {
  color: #5f36ff;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.2s;
}

a:active {
  color: #3e0fbc;
  transition-property: color;
  transition-duration: 0.2s;
}

.container {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
}

.header.container {
  border-top-width: 2px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
}

.footer.container {
  border-bottom-width: 2px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
}

.post.container {
  border-width: 2px;
  border-radius: 4px;
  margin: 16px;
  width: 100%;
}

ul.navigation {
  list-style-type: none;
}

li.navigation {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  display: inline;
  text-transform: capitalize;
  padding-right: 8px;
  padding-left: 8px;
}

ul.posts {
  list-style-type: none;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
}

img {
  width: 100%;
  height: auto;
}
