<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <title>Lucariatias - {{ page.title }}</title>
  </head>
  <body>
    <div class="header container">
      <h2>{{ page.title }}</h2>
    </div>
    <div class="container">
      <ul class="navigation">
        <li class="navigation"><a href="/">home</a></li>
        <li class="navigation"><a href="/blog">blog</a></li>
        <li class="navigation"><a href="/games">games</a></li>
        <li class="navigation"><a href="/minecraft">minecraft</a></li>
        <li class="navigation"><a href="/tools">tools</a></li>
      </ul>
    </div>
    <div class="container">
      {{ content }}
    </div>
    <div class="footer container">
      <p><a href="/contact">contact</a></p>
    </div>
  </body>
</html>
